.termo{
    width: auto;
    height: auto;
padding-left: 15%;
padding-right: 15%;
    color: black;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.anexo{
    display: flex;
    justify-content: center;
    align-items: center;
}

h5{
    color:#ff670173;
    display: flex;
    justify-content: center;
    align-items: center;

}

hr{
    width: 70vw;
}